<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
</head>
<body>
  <form method="POST" action="/api/files/upload" class="dropzone" id="fileUploader" enctype="multipart/form-data">
    
    
  </form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
<script>
  Dropzone.options.myAwesomeDropzone = {
    paramName : 'file'
  }
</script>
</html>
