<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <form method="POST" action="/files" enctype="multipart/form-data">
    <input type="file" name="profile_pic" />
    <button type="submit"> Submit </button>
  </form>
</body>
</html>
