<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
</head>
<body>
  <form method="POST" action="/api/files/upload" class="dropzone" id="fileUploader" enctype="multipart/form-data">
    
    
  </form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
<script>
  Dropzone.options.myAwesomeDropzone = {
    paramName : 'file'
  }
</script>


<!--
  <script src="https://unpkg.com/@adonisjs/websocket-client"></script>
-->

<!--
<script src="/socket.io/socket.io.js"></script>

<script>
    //var socket = io('http://localhost:3333/adonis-ws');
  //socket.on('connect', function(){console.log('connected')});
  //socket.on('event', function(data){});
  //socket.on('disconnect', function(){});



  /*
  //console.log(Ws())
  const ws = adonis.Ws('ws://localhost:3333/adonis-ws', "hello")
  ws.connect()
  


// import Ws from '@adonisjs/websocket-client'
// const ws = Ws('ws://localhost:3333')


ws.on('open', ()=>{
  console.log('open')
  ws.on('test', ()=>{
    console.log('testopen')
  })
})

//  const socket = ws.subscribe('test')

 // socket.on('test', ()=>{
 //   console.log('test')
 // })
  */

</script>

-->
</html>
